.home{
 position: relative;


}
.home__main{
    
    display: flex;
    height: 75vh;
    overflow: hidden;
    flex:1;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
   
}